realsr-ncnn-vulkan-20220728-windows.zip
temp/
tmp-gocache/
realesrgan-ncnn-vulkan-20220424-windows.zip
realesrgan-ncnn-vulkan-20220424-windows
videoupscale.md
mpeak.png
mai.png
violet.mp4
realsr-ncnn-vulkan-20220728-windows

# Binaries & Outputs
au.exe
au
bench.json
*-upscaled.*
*-2k.*
*-4k.*
*-anime4k.*
*anime4kcpp*

# Zip reference directories
Anime4KCPP-CLI-v3.2.0-x64-MSVC/
Anime4KCPP-CLI-v3.2.0-x64-MSVC.zip
refer/
saito.png
katen.png
katen4k.png